body {
	margin: 0;
	overflow: hidden;
}

.genText {
	position: absolute;
	margin-left: 35vw;
	width: 60vw;
	font-size: 1.2vw;
	color: white;
	margin-top: 3.6vw;
	font-family: 'Roboto', sans-serif;
}

.scoreText {
	transition: 0.2s ease;
	position: absolute;
	margin-left: 35vw;
	width: 60vw;
	font-size: 3vw;
	font-weight: bold;
	color: white;
	font-family: 'Roboto', sans-serif;
	/*text-shadow: 0 0 1.5vw white, 0 0 1.5vw rgb(239, 47, 96), 0 0 3vw rgb(239, 47, 96), 0 0 4vw rgb(239, 47, 96);*/
}